/* COLOUR PALETTE */

/* BACKGROUND COLOURS */
$primary-background: #E6E6E6FF;
$secondary-background: #28282B;
$tertiary-background: #E6E6E6;

/* HIGHLIGHT COLOURS */
$highlight-one: #004225FF;
$highlight-two: #C17817FF;
$highlight-three: #1D2D44FF;
$highlight-four: #721121FF;
$highlight-five: #E6E6E6FF;

/* TEXT COLOURS */
$primary-text: #28282B; 
$secondary-text: #FFFFFF;
$tertiary-text: #28282B;
$warning-text: #8F0015; /* CARMINE */;

/* FORMS */
$form-background: #FFFFFF;
$input-field: #FFFFFF;
$input-field-border: #E6E6E6;

/* BUTTONS */
$type-one-btn: #FB3640;
$type-one-btn-border: #B5252C;
$type-one-btn-text: #FFFFFF;
$type-two-btn: #FFFFFF;
$type-two-btn-border: #E2E2E2;
$type-two-btn-text: #28282B;
$type-three-btn: #078EED;
$type-three-btn-border: #03487a;

/* NAV */
$nav-flyout-background: #078EED;